@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <b> USA</b><br />
    10901 W. 120th Ave, Suite 235<br />
    Broomfield, CO 80021<br /><br /><br />

    1624 Market Street, Suite 202<br />
    Denver, CO 80202<br /><br /><br />

    
    <b>India</b><br />
    Brigade Software Park,<br />
    'B' Block, 7th Floor<br />
    Banashankari 2nd Stage,<br />
    Bangalore-560070 India<br />

    <br />Phone: +91 80 26710458<br />
          Redmond, WA 98052-6399<br />
    <br /> <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>HR:</strong>   <a href="mailto:hr@betsol.com">hr@betsol.com</a><br />
    
</address>