@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BETSOL</h1>
    <p class="lead">BETSOL deploys certified best-in-class processes and practices, ensuring you receive consistent quality deliverables. </p>
    <p><a href="https://betsol.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Java</h2>
        <p>
            Java Memory Management for Java Virtual Machine (JVM)
        </p>
        <p><a class="btn btn-default" href="https://betsol.com/2017/06/java-memory-management-for-java-virtual-machine-jvm/">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>Machine Learning</h2>
        <p>Machine Learning to Accurately Estimate IT Project Time and Budget</p>
        <p><a class="btn btn-default" href="https://betsol.com/2017/05/machine-learning-accurately-estimate-it-project/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IOT</h2>
        <p>IOT  Devices in Aviation</p>
        <p><a class="btn btn-default" href="https://betsol.com/2016/07/the-top-3-iot-devices-in-aviation-right-now/">Learn more &raquo;</a></p>
    </div>

</div>
    